.image {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content p {
  /* border: 3px dashed #f00; */
  padding: 10px;
  width: 50%;
  /* width: 45%; */
  /* padding: 2.5%; */
  float: left;
}

.wrapper p {
  /* border: 3px solid #565608; */
  padding: 25px;
  float: right;
  width: 33.33%
}

.block p {
  float: left;
  width: 25%;
  padding: 10px;
}

.top .column {
  float: right;
  width: 33.33%;
  padding: 25px;
}

.top h2 {
  text-align: center;
  margin-bottom: 20px;
}